.tagcloud-wrap {
  // background: gray;
  float: right;
  width: 53%;
  height: 115%;
  margin-top: -3%;

  .tagcloud {
    color: #ff4500;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 650;
    margin: 10% auto;
  }
  .tagcloud--item:hover {
    color: #00ff7f;
  }
}

/* Mobile responsive styles for skills page */
@media screen and (max-width: 320px) {
  .tagcloud-wrap {
    float: none;
    width: 100%;
    height: auto;
    margin-top: 30px;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;

    .tagcloud {
      font-size: 16px;
      margin: 0 auto;
    }
  }
}
